{% extends 'base.html.twig' %}


{% block body %}

{% if action =="ajouter"%}
<div class="jumbotron">
        <center><h1 class="display-4">Ajout d'une entreprise</h1></center>
</div>
{% else %}
<div class="jumbotron">
        <center><h1 class="display-4">Modification d'une entreprise</h1></center>
</div>
{% endif %}

<br>

{{ form_start(vueFormulaire, {'attr':{"novalidate":"novalidate"}})}}

{{ form_row(vueFormulaire.nom, {'attr':{'placeholder':"Nom de l'entreprise...."}})}}

{{ form_row(vueFormulaire.siteweb, {'attr':{'placeholder':"Site web de l'entreprise...."}})}}

{{ form_row(vueFormulaire.adresse, {'attr':{'placeholder':"Adresse de l'entreprise...."}})}}

{{ form_row(vueFormulaire.activite, {'attr':{'placeholder':"Activite de l'entreprise...."}})}}

<button type="submit" class="btn btn-dark">Enregistrer</button>
{{ form_end(vueFormulaire) }}

{% endblock %} 