{% extends 'base.html.twig' %}


{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<h1 style="font-weight:bold">
Liste de stage
</h1>


  {% for stage in stages %}


  <div class="card-deck">

  <div class="card">
    <div class="card-body">
      <a href="{{path('metier_stages_id',{id:stage.id})}}"><h5 class="card-title">{{stage.titre}}</h5></a>
      <p class="card-text">{{stage.mission}}</p>
      <p class="card-text">{{stage.email}}</p>
      <p class="card-text">{{stage.typeEntreprise.nom}}</p>
      {% for formationCourante in stage.TypeFormation %}
      <p class="card-text">{{formationCourante.nomCourt}}</p>
      {% endfor %}
    </div>
  </div>
  
  <br/>
  
  
  {% endfor %}

{% endblock %}
