{% extends 'base.html.twig' %}


{% block body %}
<p>
Liste de stages :
</p>
<ul>
<li><a href="{{path('metier_stages_id',{id:1})}}">Stage 1</a></li>
<li><a href="{{path('metier_stages_id',{id:2})}}">Stage 2</a></li>
<li><a href="{{path('metier_stages_id',{id:3})}}">Stage 3</a></li>
<li><a href="{{path('metier_stages_id',{id:4})}}">Stage 4</a></li>
<li><a href="{{path('metier_stages_id',{id:5})}}">Stage 5</a></li>
</ul>
{% endblock %}
