{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="h3 mb-3 font-weight-normal">Inscription </h1>
   {{ form_start(vueFormulaire, {'attr':{"novalidate":"novalidate"}}) }}

    {{ form_row(vueFormulaire.prenom, {'attr':{'placeholder':"Name...."}})}}

    {{ form_row(vueFormulaire.nom, {'attr':{'placeholder':"Firstname...."}})}}

    {{ form_row(vueFormulaire.username, {'attr':{'placeholder':"Username...."}})}}

    {{ form_row(vueFormulaire.password, {'attr':{'placeholder':"Password...."}})}}

<button type="submit" class="btn btn-dark">Register</button>
{{ form_end(vueFormulaire) }}
{% endblock %} 