<!DOCTYPE html>
<html>
    <head>
        
        <meta charset="UTF-8">
        <title>{% block title %}ProStages{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block titre %}
        <center>
        <img src="{{asset('/public/img/logo_large')}}"/>
        </center> 
        {% endblock %}
        {% block soustitre %}
        <br>
        <br>
        <br>
        <center>
        Bienvenue sur ProStages !
        </center>
        <br>
        <br>
        <br>
        {% endblock %}
        {% block filtre %}
            <a href="{{path('metier_accueil')}}">Accueil</a>
            <a href="{{path('metier_entreprises')}}">Filtrer par entreprises</a>
            <a href="{{path('metier_formation')}}">Filtrer par formations</a>
        {% endblock %}

        {% block body %}
        {% endblock %}
    </body>
</html>
